* {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid red;
  display: flex;
}

#leftbox {
  width: 50%;
  border: 1px solid black;
}

h1,
p {
  text-align: center;
}

#rightbox {
  width: 50%;
  border: 1px solid green;
}
