* {
  margin: 0;
  padding: 0;
  color: white;
}

#container {
  border: 1px solid red;
  display: flex;
  height: 400px;
  background: rgb(1, 34, 1);
}

#leftbox {
  width: 50%;
  border: 1px solid black;
}

h1,
p {
  text-align: center;
  margin-top: 100px;
}

p {
  width: 40%;
  margin: auto;
}

#rightbox {
  width: 50%;
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#box {
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2px;
  background-position: right;
  transition: all ease-in-out 1s;
}

#box:hover {
  cursor: pointer;
  background-position: bottom;
}

.one {
  grid-row: span 2;
}

.two {
  grid-column: span 2;
}

.three {
}

.four {
  grid-row: span 2;
}

.five {
  grid-column: span 2;
}

.six {
}

.seven {
  grid-column: span 2;
}
